.gitLink{
    position: absolute;
    right: 20px;
}


.mainContainer{
    padding: 10px 50px;
}

.phones{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.phone {
    border: 2px solid rgb(124, 122, 122);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 7px 10px 10px rgb(201, 199, 199);
    height: 200px;
    width: 1000px;
    /* display: flex;
    flex-flow: column; */
}

.phone:hover{
    opacity: 80%;
    box-shadow: 7px 10px 10px rgb(70, 69, 69);

}

.phone img{
    width: 200px;
    float: left;
    margin-top: -10px;
    margin-right: 50px;
}

a{
    text-decoration: none;
}

.phone p{
    color: black;
}
