/* .gitLink{
    position: absolute;
    right: 5px;
}

.phones a{
    text-decoration: none;
    color: black;
}
.phones{
display: flex;
flex-wrap: wrap;
align-items: flex-end;
}


.phone{
    border: 2px solid rgb(48, 17, 17);
    margin: 10px 10px 10px 10px;
    padding: 20px;
}

.picture_container{
    width: 200px;
    height: 200px;
}

.picture{
    /* background-color: brown; */
    display: block;
    margin: 10px 10px 10px 10px;
    width: 70%;
}

.discription{    
    display: inline-block;  
}

.discription h2{
    text-transform: uppercase;
    color: rgb(4, 0, 255);
    width: 78%;
}

.discription p{
    width: 78%;
} */
